body {
  background: #fff;
}
nav {
  background: rgb(36, 36, 36);
}
nav li a, nav a, nav .brand-logo {
  color: rgb(255, 251, 40);
}
nav li a:hover {
  color: rgb(78, 78, 78);
  background: rgb(255, 251, 40);
  transition: .5s;
}
.brand-logo {
  margin-left: 10px;
}
.parallax-container {
  height: 500px;
}
#dropdown1 {
  width: 155px !important;
}
#img_greeter {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
#circle_portrait {
  height: 200px;
}
#section2 {
  color: #fff;
  background-color: rgb(36, 36, 36);
}
#section2 h2, #section3 h2, #section3 h4, h1, h2 {
  text-align: center;
}
#footer img {
  height: 100px;
}
#current_year {
  text-align: center;
}
#about_section img {
  height: 400px;
}
@media screen and (max-width:992px){
  .brand-logo {
    margin-left: 0px;
  }
}
@media screen and (max-width:600px){
  #circle_portrait {
  }
}